/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizAREVNFi-G不定-6Y6xK2-Kbn7x9w-s0gG-Mrlg.ttf) format('truetype');
}
